body{
    padding: 0;
    margin: 0;
}
#content{
    display: grid;
    grid-template-columns: 70% 30%;
    height: 100%;
    width: 100%;
    top: 0;
    position: absolute;
}
#map-template{
    grid-column: 1 / 1;
    height: 600px;
    width: 100%;

}
#dataInputInterface{
    grid-column: 2 / 2;
    height: 100%;
    width: 100%;
    padding: 8px;
}